/*NAVBAR CONTENT*/ 
#navbar-content {
    margin: 20px 100px 20px 100px;
}

#secondary-navbar {
    background-color: #3ac997;
}

.navbar-collapse {
    justify-content: flex-end;
}

.navbar-logo img {
    width: 150px;
    height: 150px;
}

.nav-link {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    color: black;
}

.navbar .nav-item {
    padding: 15px;
}

.nav-link:hover {
    color: #f86734;
}

.secondary-nav .nav-link {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: .9em;
}

.secondary-nav {
    padding-right: 100px;
    justify-content: flex-end;
}

.dropdown:hover>.dropdown-menu {
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    background-color: #f86734;

  }

/*NAVBAR CONTENT CONSERVATION*/ 
#navbar-content {
    margin: 20px 100px 20px 100px;
}

#secondary-navbar {
    background-color: #3ac997;
}

.navbar-collapse {
    justify-content: flex-end;
}

.navbar-logo img {
    width: 150px;
    height: 150px;
}

.nav-link-conservation {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    color: white;
}

.navbar .nav-item {
    padding: 15px;
}

.nav-link-conservation:hover {
    color: #3ac997;
}

.secondary-nav .nav-link-conservation {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: .9em;
}

.secondary-nav {
    padding-right: 100px;
    justify-content: flex-end;
}

.dropdown:hover>.dropdown-menu {
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    background-color: #f86734;

  }

/*HERO CONTENT*/
#hero-content  {
    background: url("https://candacejclay.github.io/UX_UI_Project3/images/hero-image.png");
    background-size: cover;   
    background-position: center;                              
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#hero-content h1 {
    color: white;
    font-size: 4em;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 600;
}

#hero-content p {
    color: white;
    font-size: 1.3em;
    font-family: 'Roboto', sans-serif;
}

/*HERO CONTENT CONSERVATION*/
#hero-content  {
    background: url("https://candacejclay.github.io/UX_UI_Project3/images/hero_image_conservation.jpg");
    background-size: cover;   
    background-position: center;                              
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#hero-content h1 {
    color: white;
    font-size: 4em;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 600;
}

#hero-content p {
    color: white;
    font-size: 1.3em;
    font-family: 'Roboto', sans-serif;
}

/*ABOUT DUVAL SECTION*/
#about-content {
    background-color: beige;
    padding: 70px;
}

#about-content p {
    color: black;
    font-size: 1.5em;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

/*ABOUT DUVAL SECTION*/
#cae-content h3 {
    color: #3ac997;
    font-size: 2.3em;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 600;
}

#cae-content p {
    color: black;
    font-size: 1.2em;
    font-family: 'Roboto', sans-serif;
}

#cae-content div {
    padding: 20px;
}

/*GET INVOLVED SECTION*/
#involved-content {
    padding: 70px;
    background: url("https://candacejclay.github.io/UX_UI_Project3/images/get-involved.jpg");
    background-size: cover;
    background-position: center;
    height: 50vh;
    justify-content: center;
    align-items: center;
    display: flex;
}

#involved-content h3 {
    color: white;
    font-size: 2.3em;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 600;
    text-align: center;
    padding-bottom: 20px;
}

#involved-content p {
    color: white;
    font-size: 1.8em;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-weight: 600;
}

.box {
    background-color: #3ac997;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px, rgba(0, 0, 0, 0.05) 0px 0.5px 1px;
  transition: all .3s ease-in-out;
}

.box:hover {
    box-shadow: rgba(0, 0, 0, 0.22) 0px 19px 43px, rgba(0, 0, 0, 0.18) 0px 4px 11px;
  }

/*NEWSLETTER SECTION*/
#newsletter-content {
    background-color: beige;
    padding: 70px;
}

#newsletter-content h3 {
    color: #3ac997;
    font-size: 2.3em;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 600;
}

#newsletter-content p {
    color: black;
    font-size: 1.2em;
    font-family: 'Roboto', sans-serif;
}

/*SIGHTINGS SECTION*/
#sightings-content {
    padding: 70px;
}

#sightings-content h3 {
    color: #3ac997;
    font-size: 2.3em;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 600;
    text-align: left;
    padding-bottom: 20px;
}

#sightings-content h4 {
    color: black;
    font-size: 1.5em;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    text-align: left;
    padding-bottom: 20px;
}

#sightings-content p {
    color: black;
    font-size: 1.2em;
    font-family: 'Roboto', sans-serif;
    padding-top: 10px;
    padding-bottom: 50px;
}

/*FOOTER CONTENT*/
#footer-content {
    padding: 50px;
    background-color: #3ac997;
}

#footer-content img {
    width: 200px;
    height: 200px;
}

#footer-content h3 {
    color: #ffffff;
    font-size: 1.8em;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 600;
}

#footer-content .nav-link {
    font-size: 1em;
    font-family: 'Roboto',sans-serif;
}

#footer-content .nav-link:hover {
    color: white;
}

#footer-content .button {
    margin-top: 20px;
}

/*FOOTER CONTENT CONSERVATION*/

#footer-content-conservation {
    padding: 50px;
    background-color: #3E45A2;
}

#footer-content-conservation img {
    width: 200px;
    height: 200px;
}

#footer-content-conservation h3 {
    color: #ffffff;
    font-size: 1.8em;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 600;
}

#footer-content-conservation .nav-link {
    font-size: 1em;
    font-family: 'Roboto',sans-serif;
}

#footer-content-conservation .nav-link:hover {
    color: white;
}

#footer-content-conservation .button3conservation {
    margin-top: 20px;
}

/* BUTTON CONTENT */
.button {
  align-items: center;
  background-color: transparent;
  border: 2px solid #000;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  font-family: 'Roboto',sans-serif;
  font-size: 1.2em;
  height: 48px;
  justify-content: center;
  min-width: 140px;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
}

.button:focus {
  color: #171e29;
}

.button:hover {
  border-color: #3ac997;
  color: #3ac997;
  text-decoration: none;
}

.button:active {
  border-color: #3ac997;
  color: #3ac997;
}

@media (min-width: 768px) {
  .button {
    min-width: 170px;
  }
}

.button2 {
    align-items: center;
    background-color: transparent;
    border: 2px solid #000;
    box-sizing: border-box;
    color: #000;
    cursor: pointer;
    display: inline-flex;
    fill: #000;
    font-family: 'Roboto',sans-serif;
    font-size: 1.2em;
    height: 48px;
    justify-content: center;
    min-width: 140px;
    outline: 0;
    padding: 0 17px;
    text-align: center;
    text-decoration: none;
  }
  
  .button2:focus {
    color: #171e29;
  }
  
  .button2:hover {
    border-color: #3ac997;
    color: #3ac997;
  }
  
  .button2:active {
    border-color: #3ac997;
    color: #3ac997;
  }
  
  @media (max-width: 768px) {
    .button2 {
      min-width: 200px;
    }
  }

  @media (max-width: 768px) {
    #involved-content {
        height: 75vh;
    }
  }

@media (max-width: 768px) {
    .box {
        width: 150px;
        height: 150px;
    }
  }


/* BUTTON CONTENT FOOTER CONSERVATION*/
.button {
    align-items: center;
    background-color: transparent;
    border: 2px solid #000;
    box-sizing: border-box;
    color: #000;
    cursor: pointer;
    display: inline-flex;
    fill: #000;
    font-family: 'Roboto',sans-serif;
    font-size: 1.2em;
    height: 48px;
    justify-content: center;
    min-width: 140px;
    outline: 0;
    padding: 0 17px;
    text-align: center;
    text-decoration: none;
  }
  
  .button:focus {
    color: #171e29;
  }
  
  .button:hover {
    border-color: #3ac997;
    color: #3ac997;
    text-decoration: none;
  }
  
  .button:active {
    border-color: #3ac997;
    color: #3ac997;
  }
  
  @media (min-width: 768px) {
    .button {
      min-width: 170px;
    }
  }
  
  .button2 {
      align-items: center;
      background-color: transparent;
      border: 2px solid #000;
      box-sizing: border-box;
      color: #000;
      cursor: pointer;
      display: inline-flex;
      fill: #000;
      font-family: 'Roboto',sans-serif;
      font-size: 1.2em;
      height: 48px;
      justify-content: center;
      min-width: 140px;
      outline: 0;
      padding: 0 17px;
      text-align: center;
      text-decoration: none;
    }
    
    .button2:focus {
      color: #171e29;
    }
    
    .button2:hover {
      border-color: #3ac997;
      color: #3ac997;
    }
    
    .button2:active {
      border-color: #3ac997;
      color: #3ac997;
    }
    
    @media (max-width: 768px) {
      .button2 {
        min-width: 200px;
      }
    }
  
    .button3conservation {
        align-items: center;
        background-color: transparent;
        border: 2px solid #ffffff;
        box-sizing: border-box;
        color: #ffffff;
        cursor: pointer;
        display: inline-flex;
        fill: #000;
        font-family: 'Roboto',sans-serif;
        font-size: 1.2em;
        height: 48px;
        justify-content: center;
        min-width: 140px;
        outline: 0;
        padding: 0 17px;
        text-align: center;
        text-decoration: none;
      }
      
      .button3conservation:focus {
        color: #ffffff;
      }
      
      .button3conservation:hover {
        border-color: #3ac997;
        color: #3ac997;
      }
      
      .button3conservation:active {
        border-color: #3ac997;
        color: #3ac997;
      }
      
      @media (max-width: 768px) {
        .button3conservation {
          min-width: 200px;
        }
      }

    @media (max-width: 768px) {
      #involved-content {
          height: 75vh;
      }
    }
  
  @media (max-width: 768px) {
      .box {
          width: 150px;
          height: 150px;
      }
    }
  

